 /*初始化类*/
@charset "UTF-8";
/*容器*/
.container{
	display:block;
	padding:0.75rem;
	width:100%;
	height:auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	position:relative;
}
.aui-list-item:active{background-color:#ffffff !important;}
.aui-list-header{background-color:#f4f4f4 !important;}

/*flex-box 定位样式*/

.box-content{
	display:flex;
	-webkit-display:flex;
	-moz-display:flex;
	position:relative;
}

/*盒子排列方向*/
.box-direction-row{
	flex-direction:row !important;
	-webkit-flex-direction:row !important;
	-moz-flex-direction:row !important;
	-o-flex-direction:row !important;
}
.box-direction-row-reverse{
	flex-direction:row-reverse !important;
	-webkit-flex-direction:row-reverse !important;
	-moz-flex-direction:row-reverse !important;
	-o-flex-direction:row-reverse !important;
}
.box-direction-column{
	flex-direction:column !important;
	-webkit-flex-direction:column !important;
	-moz-flex-direction:column !important;
	-o-flex-direction:column !important;
}
.box-direction-column-reverse{
	flex-direction:column-reverse !important;
	-webkit-flex-direction:column-reverse !important;
	-moz-flex-direction:column-reverse !important;
	-o-flex-direction:column-reverse !important;
}

/*横向定位*/
.box-inline-left{
	justify-content:flex-start !important;
	-webkit-justify-content:flex-start !important;
	-moz-justify-content:flex-start !important;
	-o-justify-content:flex-start !important;
}
.box-inline-center{
	justify-content:center !important;
	-webkit-justify-content:center !important;
	-moz-justify-content:center !important;
	-o-justify-content:center !important;
}
.box-inline-right{
	justify-content:flex-end !important;
	-webkit-justify-content:flex-end !important;
	-moz-justify-content:flex-end !important;
	-o-justify-content:flex-end !important;
}
.box-inline-between{
	justify-content:space-between !important;
	-webkit-justify-content:space-between !important;
	-moz-justify-content:space-between !important;
	-o-justify-content:space-between !important;
}
.box-inline-around{
	justify-content:space-around !important;
	-webkit-justify-content:space-around !important;
	-moz-justify-content:space-around !important;
	-o-justify-content:space-around !important;
}

/*竖向定位*/
.box-vertical-top{
	align-items:flex-start !important;
	-webkit-align-items:flex-start !important;
	-moz-align-items:flex-start !important;
	-o-align-items:flex-start !important;
}
.box-vertical-middle{
	align-items:center !important;
	-webkit-align-items:center !important;
	-moz-align-items:center !important;
	-o-align-items:center !important;
}
.box-vertical-bottom{
	align-items:flex-end !important;
	-webkit-align-items:flex-end !important;
	-moz-align-items:flex-end !important;
	-o-align-items:flex-end !important;
}
.box-vertical-stretch{
	align-items:stretch !important;
	-webkit-align-items:stretch !important;
	-moz-align-items:stretch !important;
	-o-align-items:stretch !important;
}


/*字体颜色*/
.text-white{color:#ffffff !important;}
.text-gray{color:#aaa !important;}
.text-light-gray{color:#cecece !important;}
.text-light-black{color:#777 !important;}
.text-middle-black{color: #555 !important;}
.text-black{color: #333 !important;}
.text-derkBlue{color:#004da2 !important;}
.text-bold{font-weight:600 !important;}

/*字体大小*/
.font-size-12{font-size:0.6rem;}
.font-size-14{font-size:0.7rem;}
.font-size-16{font-size:0.8rem;}
.font-size-18{font-size:0.9rem;}
.font-size-20{font-size:1rem;}

/*背景颜色*/
.bg-black{background-color:#000 !important;}
.bg-white{background-color:#fff !important;}
.bg-light-gray{background-color:#f2f2f2 !important;}


/*文字位置*/
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}


/*底部组件*/
.footer{position:fixed; bottom:0rem; width:100%; height:auto; z-index:555;}

/*margin padding 定位*/
.margin-t-5{margin-top:0.25rem !important;}
.margin-t-10{margin-top:0.5rem !important;}
.margin-t-15{margin-top:0.75rem !important;}
.margin-r-5{margin-right:0.25rem !important;}
.margin-r-10{margin-right:0.5rem !important;}
.margin-r-15{margin-right:0.75rem !important;}
.margin-b-5{margin-bottom:0.25rem !important;}
.margin-b-10{margin-bottom:0.5rem !important;}
.margin-b-15{margin-bottom:0.75rem !important;}
.margin-l-5{margin-left:0.25rem !important;}
.margin-l-10{margin-left:0.5rem !important;}
.margin-l-15{margin-left:0.75rem !important;}

.padding-t-5{padding-top:0.25rem !important;}
.padding-t-10{padding-top:0.5rem !important;}
.padding-t-15{padding-top:0.75rem !important;}
.padding-r-5{padding-right:0.25rem !important;}
.padding-r-10{padding-right:0.5rem !important;}
.padding-r-15{padding-right:0.75rem !important;}
.padding-b-5{padding-bottom:0.25rem !important;}
.padding-b-10{padding-bottom:0.5rem !important;}
.padding-b-15{padding-bottom:0.75rem !important;}
.padding-l-5{padding-left:0.25rem !important;}
.padding-l-10{padding-left:0.5rem !important;}
.padding-l-15{padding-left:0.75rem !important;}

.padding-t-0{padding-top:0 !important;}
.padding-r-0{padding-right:0 !important;}
.padding-b-0{padding-bottom:0 !important;}
.padding-l-0{padding-left:0 !important;}

.margin-t-0{margin-top:0 !important;}
.margin-r-0{margin-right:0 !important;}
.margin-b-0{margin-bottom:0 !important;}
.margin-l-0{margin-left:0 !important;}

.no-borderradius{border-radius:0px !important;}

.vertical-align{display:table-cell;}
.vertical-align *{vertical-align:middle;}

.layer{width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:absolute; z-index:200; top:0; left:0;}

/*主体色调*/
.main-color{color:rgb(243,72,72) !important; border-color:rgb(243,72,72) !important;}
.bg-main-color{color:#fff !important; background-color:rgb(243,72,72) !important;}
.text-primary{color:#6dc9b0 !important;}
.text-info{color:#90dbe0 !important;}
.text-warning{color:#a4b3e4!important;}
.text-orange{color:#ff6905 !important;}
.text-green{color:#FF9900 !important;}

.bg-primary{background-color:#6dc9b0 !important; color:rgba(0,0,0,0.5);}
.bg-info{background-color:#90dbe0 !important; color:rgba(0,0,0,0.5);}
.bg-warning{background-color:#a4b3e4!important; color:rgba(0,0,0,0.5);}
.bg-gray{background-color:#dddddd!important; color:rgba(0,0,0,0.5);}

.bg-yellow{background-color:#ff6905 !important;}
.bg-orange{background-color:rgb(254,64,4) !important;}

.aui-btn-success{background-color:#FF9900 !important;}
.aui-btn-success:active{background-color:#FF9900 !important;}

.aui-border-t:after{border-top:1px solid #fff !important;}
.ul-noBorder:before{background-color:#fff !important;}

.aui-btn-sm{padding:0.1rem 0.5rem !important; border-color:#ddd;}
.submit-btn{border:1px solid #999; padding:0.5rem; border-radius:5px;}
.camera-btn{position:absolute; left:0.5rem; top:0rem; z-index:100;}
.pic-cont .aui-card-list-content-padded{min-height:4.4rem !important;}

